<div class="container">
    <h1>Your files</h1>
    <form id="createForm" class="mb-2" action="/user/<%= username %>/files" method="POST">
        <label for="title" class="form-label">Create new file:</label>
        <input type="text" class="form-control-sm" id="title" placeholder="Title" name="title" required>
        <button type="submit" class="btn btn-success">
            <i class="bi bi-file-earmark-plus"></i>Create
        </button>
    </form>

    <table class="table table-light table-hover">
        <thead class="table-secondary">
        <tr>
            <th>Name</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <% userFiles.forEach(userFile => { %>
            <tr>
                <td>
                    <a href="/user/<%= username %>/files/<%= userFile._id %>">
                        <%= userFile.title %>
                    </a>
                </td>
                <td>
                    <%= formatLastUpdated(userFile.updatedAt) %>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<%function formatLastUpdated(dateString) {
    const updatedAt = new Date(dateString);
    const today = new Date();

    if (updatedAt.toDateString() === today.toDateString()) {
        const hours = updatedAt.getHours().toString().padStart(2, '0');
        const minutes = updatedAt.getMinutes().toString().padStart(2, '0');
        return `Today ${hours}:${minutes}`;
    } else if (updatedAt.getFullYear() === today.getFullYear()) {
        return updatedAt.toLocaleDateString(navigator.language, {day: 'numeric', month: 'short'});
    } else {
        return updatedAt.toLocaleDateString(navigator.language, { day: 'numeric' , month: 'short', year: 'numeric'});
    }
}%>
